<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>
    <h1>Подписка активирована</h1>
    <p>Поздравляем, подписка на объявление <a href="{{.Link}}">№{{.AvitoID}}</a> успешно активирована!</p>
    <p>Если вы получили это письмо по ошибке, отпишитесь от рассылки и просто удалите его. Мы не будем присылать вам письма, если вы щелкните по ссылке отписки ниже.</p>
    <a href="{{.UnsubscribeLink}}">Щелкните здесь, чтобы отписаться.</a>
</body>
</html>