<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>
    <h1>Пожалуйста, подтвердите подписку</h1>
    <p>Пожалуйста, подтвердите вашу подписку на объявление <a href="{{.Link}}">№{{.AvitoID}}</a></p>
    <a href="{{.ConfirmationLink}}">Щелкните здесь, чтобы подтвердить вашу подписку.</a>
    <p>Если вы получили это письмо по ошибке, просто удалите его. Вы не будете подписаны на нашу рассылку, если не щелкните по ссылку подтверждения выше.</p>
</body>
</html>